#hero{
    background-image: url(./assets/Background-img.png);
    background-size: cover;
    height: 100vh;
}
.header-text{
    color: #FF8225;
    font-family:"Jost", sans-serif ;
    font-optical-sizing: auto;
    z-index: 10;
    font-weight:500;
}
.items{
    color: #c1c0c0;
    font-weight: 400;
    margin: 0px 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.items:hover{
    background-color: #FF8225;
    color: #ffffff;
    transform: scale(1.1);
}
.hero-heading{
    color: #FF8225;
}
.hero-p{
    color: #c1c0c0;
    font-size:x-large;
}
.hero-btn{
    background-color: #FF8225;
    color: #ffffff;
}
.hero-btn:hover{
    color: #c1c0c0;
}
.section-title{
    color: #FF8225;
    font-weight: bold;
}
#about {
    background-color: #f8f9fa;
  }
  
  #about .container {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }
  
  .profile {
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
  }
  
  .profile:hover {
    transform: scale(1.05);
  }
  
  .lead {
    font-size: 1.25rem;
    color: #666;
  }
  .bio{
    text-align: justify;
  }
  #about h4 {
    color: #FF8225;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
    
   .about-btn{
    background-color: #FF8225;
    color: #fff5f5;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
  }
  .skill-item {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .skill-level {
    margin-top: 10px;
  }
  
  .skill-label {
    font-size:small;
    display: block;
    font-weight: bold;
  }
  
  .skill-bar {
    background: #e9ecef;
    border-radius: 5px;
    height: 8px;
    overflow: hidden;
    margin-top: 5px;
  }
  
  .skill-progress {
    background: #28a745;
    height: 100%;
    border-radius: 5px;
  }
.project-btn{
    background-color: #FF8225;
    color: #ffffff;
}
#contact {
    position: relative;
    background-image: url(assets/Background-img.png);
    background-size: cover;
    z-index: 1;
}

.footer-content {
    height: 50vh;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.contact{
    margin-top: 5rem;
}
.connect-container{
    display: flex;
    gap:3rem;
    width: 100%;
    justify-content: center;
}
.white-icon {
    filter: invert(75%);
    height: 30px;
    transition: transform 0.3s ease;
}
.white-icon:hover{
    transform: scale(1.2);
}
.copy{
    color: #FF8225;
}
.skills{
  background-color: #FF8225;
  color:#f8f9fa;
  width: 30%;
}
.exp{
  background-image: url('./assets/Background-img.png');
  background-size: cover;
  color: #f8f9fa;
  max-width: 70%;
}
