#hero{
    background-image: url(./assets/background.png);
    background-size: cover;
    height: 100vh;
}
#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
.header-text{
    color: #FF8225;
    font-family:"Jost", sans-serif ;
    font-optical-sizing: auto;
    z-index: 10;
    font-weight:500;
}
.items{
    color: #c1c0c0;
    font-weight: 400;
    margin: 0px 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.items:hover{
    background-color: #FF8225;
    color: #ffffff;
    transform: scale(1.1);
}
.hero-heading{
    color: #FF8225;
}
.hero-p{
    color: #c1c0c0;
    font-size:x-large;
}
.hero-btn{
    background-color: #FF8225;
    color: #ffffff;
}
.hero-btn:hover{
    color: #c1c0c0;
}
.section-title{
    text-align: center;
    color: #FF8225;
    font-weight: 700;
}
.project-btn{
    background-color: #FF8225;
    color: #ffffff;
}
#contact {
    position: relative;
    background-image: url(assets/background.png);
    background-size: cover;
    z-index: 1;
}

#contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.footer-content {
    height: 50vh;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.contact{
    margin-top: 5rem;
}
.connect-container{
    display: flex;
    gap:3rem;
    width: 100%;
    justify-content: center;
}
.white-icon {
    filter: invert(75%);
    height: 30px;
    transition: transform 0.3s ease;
}
.white-icon:hover{
    transform: scale(1.2);
}
.copy{
    color: #FF8225;
}

